#mc_embed_signup{
	background: #fff;  
	font: 14px Helvetica,Arial,sans-serif; 
}

#mc_embed_signup form {
	padding: 20px 40% !important;
}

.mc-field-group { 
	padding: 0 !important;
	min-height: 0 !important;
}

.button {
	width: 300px !important;
	background-color: #ffab40 !important;
}

.email, .mce_inline_error {
	width: 300px !important;
}

form {
	margin: 0 auto;
}

.item > img {
	width: 100%;
}

.carousel-inner {
	position: relative;
}

.fa-4x {
	bottom: 45%;
	position: absolute;
	color: white;
}

.fa-chevron-circle-left {	
	left: 3%;
}

.fa-chevron-circle-right {
	right: 3%;
}

.col-md-6 > img {
	width: 95%;
}

#wrapper {
	min-height: 100vh !important;
}

.btn {
	left: 45%;
	position: absolute;
}